{% extends 'blog/base.html' %}

{% block content %}

<div class="jumbotron text-center">
    <h2>PROFIL PROGRAM STUDI</h2>
    <h1 style="font-weight: 800; text-transform: uppercase; margin-bottom: 20px;">
        Pendidikan Teknik Informatika
    </h1>
    <p class="lead">Universitas Muhammadiyah Surakarta</p>
    <div style="margin-top: 30px;">
        <span class="label label-primary" style="font-size: 15px; padding: 8px 15px; border-radius: 20px;">AKREDITASI: UNGGUL</span>
        <span class="label label-warning" style="font-size: 15px; padding: 8px 15px; border-radius: 20px; margin-left: 10px;">FKIP UMS</span>
    </div>
</div>

<div class="post-detail-card">
    <div class="detail-content">
        
        <div class="row">
            <div class="col-md-12">
                <h3 style="color: #0A84FF; font-weight: bold; margin-bottom: 30px;">
                    <span class="glyphicon glyphicon-education"></span> Selayang Pandang
                </h3>
                <p style="text-align: justify;">
                    Program Studi <strong>Pendidikan Teknik Informatika (PTI)</strong> Fakultas Keguruan dan Ilmu Pendidikan (FKIP) Universitas Muhammadiyah Surakarta (UMS) didirikan untuk menjawab tantangan kebutuhan tenaga pendidik profesional di bidang Teknologi Informasi dan Komunikasi (TIK).
                </p>
                <p style="text-align: justify;">
                    Sebagai bagian dari UMS yang mengusung tagline <em>"Wacana Keilmuan dan Keislaman"</em>, Prodi PTI berkomitmen mencetak lulusan yang tidak hanya unggul dalam kompetensi teknis (programming, jaringan, multimedia), tetapi juga memiliki karakter Islami dan mampu menjadi agen perubahan di dunia pendidikan Indonesia.
                </p>
            </div>
        </div>

        <hr style="border-top: 1px solid rgba(255,255,255,0.1); margin: 40px 0;">

        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail card-glass" style="padding: 30px; height: 100%;">
                    <h3 class="text-center" style="color: #FF9F0A; font-weight: 800; margin-top: 0;">VISI</h3>
                    <blockquote style="border-left: 15px solid #FF9F0A; font-size: 1.5em; margin-top: 20px;">
                        <p>
                            "Pada tahun 2029, menjadi pusat pendidikan dan pengembangan tenaga pendidik bidang Teknik Informatika yang Islami dan memberi arah perubahan."
                        </p>
                    </blockquote>
                </div>
            </div>

            <div class="col-md-6">
                <div class="thumbnail card-glass" style="padding: 30px; height: 100%;">
                    <h3 class="text-center" style="color: #0A84FF; font-weight: 800; margin-top: 0;">MISI</h3>
                    <ul style="list-style: none; padding-left: 0; margin-top: 20px;">
                        <li style="margin-bottom: 15px; display: flex;">
                            <span class="glyphicon glyphicon-ok-sign" style="color: #0A84FF; margin-right: 25px; font-size: 2em;"></span>
                            <span>Menyelenggarakan pendidikan profesional di bidang pendidikan teknik informatika berlandaskan nilai-nilai keislaman.</span>
                        </li>
                        <li style="margin-bottom: 15px; display: flex;">
                            <span class="glyphicon glyphicon-ok-sign" style="color: #0A84FF; margin-right: 25px; font-size: 2em;"></span>
                            <span>Mengembangkan penelitian inovatif di bidang pendidikan dan teknologi informasi.</span>
                        </li>
                        <li style="margin-bottom: 15px; display: flex;">
                            <span class="glyphicon glyphicon-ok-sign" style="color: #0A84FF; margin-right: 25px; font-size: 2em;"></span>
                            <span>Melaksanakan pengabdian kepada masyarakat berbasis teknologi tepat guna.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <hr style="border-top: 1px solid rgba(255,255,255,0.1); margin: 40px 0;">

        <div class="row text-center">
            
            <div class="col-md-4">
                <div class="thumbnail card-glass" style="padding: 30px 20px; height: 100%; border: none;">
                    <span class="glyphicon glyphicon-book" style="font-size: 3em; color: #f4a000; margin-bottom: 20px;"></span>
                    <h4 style="font-weight: 800; color: #fff; text-transform: uppercase;">Pendidik Unggul & Islami</h4>
                    <p style="color: rgba(255,255,255,0.8); font-size: 1.5em;">
                        Menghasilkan tenaga pendidik profesional yang unggul dalam teknologi pembelajaran multimedia berlandaskan nilai-nilai keislaman.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail card-glass" style="padding: 30px 20px; height: 100%; border: none;">
                    <span class="glyphicon glyphicon-user" style="font-size: 3em; color: #f4a000; margin-bottom: 20px;"></span>
                    <h4 style="font-weight: 800; color: #fff; text-transform: uppercase;">Dosen Kompeten</h4>
                    <p style="color: rgba(255,255,255,0.8); font-size: 1.5em;">
                        Didukung dosen berkualifikasi S3 & S2 yang ahli di bidang RPL, Jaringan, Game Technology, serta Ilmu Pendidikan (Pedagogik).
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail card-glass" style="padding: 30px 20px; height: 100%; border: none;">
                    <span class="glyphicon glyphicon-hdd" style="font-size: 3em; color: #f4a000; margin-bottom: 20px;"></span>
                    <h4 style="font-weight: 800; color: #fff; text-transform: uppercase;">Fasilitas Lengkap</h4>
                    <p style="color: rgba(255,255,255,0.8); font-size: 1.5em;">
                        Tersedia Lab Jaringan, Lab RPL, Lab Multimedia, hingga <b>Lab Microteaching</b> untuk simulasi mengajar yang profesional.
                    </p>
                </div>
            </div>

        </div>
        <hr style="border-top: 1px solid rgba(255,255,255,0.1); margin: 40px 0;">

        <div class="row">
            <div class="col-md-12 text-center">
                <h3 style="font-weight: bold; margin-bottom: 30px;">Lokasi Kampus</h3>
            </div>
            <div class="col-md-4 text-center">
                <span class="glyphicon glyphicon-map-marker" style="font-size: 5em; color: #FF4D4D; margin-bottom: 40px;"></span>
                <h4 style="font-weight: bold;">Alamat</h4>
                <p style="color: rgba(255,255,255,0.7);">
                    Kampus 1 UMS, Gedung C FKIP<br>
                    Jl. A. Yani, Mendungan, Pabelan,<br>
                    Kartasura, Surakarta 57162
                </p>
            </div>
            <div class="col-md-4 text-center">
                <span class="glyphicon glyphicon-envelope" style="font-size: 5em; color: #FF9F0A; margin-bottom: 40px;"></span>
                <h4 style="font-weight: bold;">Email</h4>
                <p style="color: rgba(255,255,255,0.7);">
                    pti@ums.ac.id<br>
                    fkip@ums.ac.id
                </p>
            </div>
            <div class="col-md-4 text-center">
                <span class="glyphicon glyphicon-globe" style="font-size: 5em; color: #0A84FF; margin-bottom: 40px;"></span>
                <h4 style="font-weight: bold;">Website</h4>
                <p style="color: rgba(255,255,255,0.7);">
                    <a href="https://pti.ums.ac.id" target="_blank" style="color: #0A84FF;">pti.ums.ac.id</a>
                </p>
            </div>
        </div>

    </div>
</div>

{% endblock %}