{% extends 'blog/base.html' %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Tentang Kami</h3>
    </div>
    <div class="panel-body">
        <h3>Sejarah Singkat</h3>
        <p>Prodi Pendidikan Informatika berdiri di bawah naungan FKIP dengan tujuan mencetak guru-guru komputer yang handal.</p>
        
        <hr>
        
        <h3>Visi & Misi</h3>
        <h4>Visi</h4>
        <blockquote>
            <p>"Menjadi program studi unggulan dalam pendidikan informatika yang berwawasan global."</p>
        </blockquote>
        
        <h4>Misi</h4>
        <ul>
            <li>Menyelenggarakan pendidikan berkualitas.</li>
            <li>Melakukan penelitian di bidang teknologi pendidikan.</li>
            <li>Melaksanakan pengabdian masyarakat berbasis IT.</li>
        </ul>
        
        <hr>
        <h3>Lokasi Kampus</h3>
        <p>Gedung FKIP Lantai 2, Jl. Pendidikan No. 123.</p>
    </div>
</div>
{% endblock %}